@page "/"
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>User Management</PageTitle>

<FluentSpacer Width="50"></FluentSpacer>

<h1>Pick your theme!</h1>

<FluentSpacer Width="50"></FluentSpacer>

<FluentGrid>
    <FluentGridItem xs="4">
        <FluentDesignTheme @bind-Mode="@Mode"
                           @bind-OfficeColor="@OfficeColor"
                           OnLoaded="@OnLoaded"
                           OnLuminanceChanged="@OnLuminanceChanged"
                           StorageName="theme" />
        <div style="min-height: 250px;">
            <FluentGrid>
                <FluentGridItem>
                    <FluentSelect Label="Theme"
                                  Width="250px"
                                  Items="@(Enum.GetValues<DesignThemeModes>())"
                                  @bind-SelectedOption="@Mode" />
                </FluentGridItem>

                <FluentGridItem>
                    <FluentSelect Label="Color"
                                  Items="@(Enum.GetValues<OfficeColor>().Select(i => (OfficeColor?)i))"
                                  Height="200px"
                                  Width="250px"
                                  @bind-SelectedOption="@OfficeColor">
                    </FluentSelect>
                    <FluentButton Appearance="Appearance.Accent" OnClick="PickRandomColor">Feeling lucky?</FluentButton>
                </FluentGridItem>
            </FluentGrid>
        </div>
    </FluentGridItem>
</FluentGrid>

@code
{
    public DesignThemeModes Mode { get; set; }

    public OfficeColor? OfficeColor { get; set; }

    void OnLoaded(LoadedEventArgs e)
    {
    }

    void OnLuminanceChanged(LuminanceChangedEventArgs e)
    {
    }

    void PickRandomColor()
    {
        OfficeColor = OfficeColorUtilities.GetRandom();
    }
}