@using Microsoft.FluentUI.AspNetCore.Components
@using UserManagement.UserApi.Models
@implements IDialogContentComponent<UserEntity>

@rendermode InteractiveServer

<FluentDialogBody>
    @if (isBusy)
    {
        <FluentProgressRing></FluentProgressRing>
    }
    else
    {
        <FluentEditForm Model="@Content">
            <DataAnnotationsValidator />
            <FluentValidationSummary />

            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField @bind-Value="@Content.Name" TextFieldType="TextFieldType.Text">
                    <LabelTemplate>
                        <FluentLabel Weight="FontWeight.Bold">
                            <FluentStack Orientation="Orientation.Horizontal">
                                <span>Name</span>
                                <FluentLabel Color="Color.Error">*</FluentLabel>
                            </FluentStack>
                        </FluentLabel>
                    </LabelTemplate>
                </FluentTextField>

                <FluentSpacer Width="10" />

                <FluentTextField @bind-Value="@Content.Surname" TextFieldType="TextFieldType.Text">
                    <LabelTemplate>
                        <FluentLabel Weight="FontWeight.Bold">
                            <FluentStack Orientation="Orientation.Horizontal">
                                <span>Surname</span>
                                <FluentLabel Color="Color.Error">*</FluentLabel>
                            </FluentStack>
                        </FluentLabel>
                    </LabelTemplate>
                </FluentTextField>

                <FluentSpacer Width="10" />
                <form>
                    <FluentLabel Weight="FontWeight.Bold">
                        <FluentStack Orientation="Orientation.Horizontal">
                            <span>Date Of Birth</span>
                            <FluentLabel Color="Color.Error">*</FluentLabel>
                        </FluentStack>
                    </FluentLabel>
                    <FluentSpacer Width="10" />
                    <input type="date" min="1999-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-value="@Content.DateOfBirth" style="@CalendarStyling" />
                </form>

                <FluentSpacer Width="10" />

                <FluentTextField @bind-Value="@Content.Email" TextFieldType="TextFieldType.Email">
                    <LabelTemplate>
                        <FluentLabel Weight="FontWeight.Bold">
                            <FluentStack Orientation="Orientation.Horizontal">
                                <span>Email</span>
                                <FluentLabel Color="Color.Error">*</FluentLabel>
                            </FluentStack>
                        </FluentLabel>
                    </LabelTemplate>
                </FluentTextField>

                <FluentSpacer Width="10" />

                <FluentCheckbox @bind-Value="@Content.IsActive">
                    <LabelTemplate>
                        <FluentLabel Weight="FontWeight.Bold">
                            <FluentStack Orientation="Orientation.Horizontal">
                                <span>Is Active</span>
                                <FluentLabel Color="Color.Error">*</FluentLabel>
                            </FluentStack>
                        </FluentLabel>
                    </LabelTemplate>
                </FluentCheckbox>
            </FluentStack>
        </FluentEditForm>
    }
</FluentDialogBody>

 